<!DOCTYPE html>
<html>

  {% include head.html %}

	<body>

    {% include header.html %}


    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

	
	<!-- Slider -->
	<script src="{{ site.baseurl }}/Ideal-Image-Slider-JS-master/ideal-image-slider.min.js"> </script> 
	<script src="{{ site.baseurl }}/Ideal-Image-Slider-JS-master/extensions/bullet-nav/iis-bullet-nav.js"></script>
	<script src="{{ site.baseurl }}/Ideal-Image-Slider-JS-master/extensions/captions/iis-captions.js"></script>
	<!-- Sliders on pages -->
	{% for script in page.iis_slider_scripts %}
	  {{ script }}
	{% endfor %}
	<!-- Sliders on indexes -->
	{% for post in paginator.posts %}
	  {% for script in post.iis_slider_scripts %}
		{{ script }}
	  {% endfor %}
	{% endfor %}
	</body>

</html>
